.header{
  display: flex;
  @media (max-width: 768px) {
    display: block;
  }
  .header-information{
    //width: 54%;
    width: 52.5%;
    padding-top: 22px;
    @media (max-width: 1024px) {
      width: 60%;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 20px 25px;
      box-sizing: border-box;
    }
  }
  .header-slider{
    width: 50%;
    position: relative;
    height: 100%;
    @media (max-width: 1500px) {
      margin-left: 20px;
      width: 48.8%;
    }
    @media (max-width: 1200px) {
      margin-left: 0;
      width: 59.5%;
    }
    @media (max-width: 1024px) {
      width: 40%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .header-managingSlide{
    display: flex;

    width: 204px;
    height: 68px;
    background-color: #13AA57;
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 1;
    @media (max-width: 425px) {
      height: 60px;
      width: 155px;
    }
    span{
      font-family: 'Chivo-Light';
      font-size: 15px;
      line-height: 65px;
      margin-left: 28%;

      @media (max-width: 900px) {
        display: block;
        margin-top: 5px;
      }
      @media (max-width: 500px) {
        display: block;
        margin-top: 10px;
      }
      @media (max-width: 425px) {
        margin-top: 5px;
        margin-left: 35%;
      }
    }
  }
}

.header-menu{
  display: flex;
  align-items: center;
  padding-left: 161px;
  @media (max-width: 1919px) {
    padding-left: 60px;
  }
  @media (max-width: 1300px) {
    padding-left: 20px;
  }
  @media (max-width: 768px) {
    padding-left: 0;
  }
  @media (max-width: 560px) {
    justify-content: space-between;
  }
  .header-logo{
    max-width: 95px;
    margin-right: 71px;
    @media (max-width: 1919px) {
      margin-right: 50px;
    }
    @media (max-width: 1300px) {
      margin-right: 30px;
    }
    @media (max-width: 1200px) {
      margin-right: 15px;
      &-image{
        max-width: 70px;
      }
    }
    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
  .header-list-mobile{
    display: none;
    @media (max-width: 560px) {
      display: block;
    }
  }
  .header-list{
    display: flex;
    justify-content: space-between;
    min-width: 570px;
    margin-right: 73px;
    font-family: 'Chivo-Regular';

    @media (max-width: 1919px) {
      width: 75%;
      min-width: 0;
      margin-right: 0;
    }
    @media (max-width: 1300px) {
      width: 80%;
    }
    @media (max-width: 1200px) {
      width: 90%;
      margin-right: 10px;
    }
    @media (max-width: 768px) {
      margin: 0 40px;
    }
    @media (max-width: 560px) {
      display: none;
    }

    .header-tab a{
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;
      color: black;
      text-decoration: none;
      @media (max-width: 1440px) {
        font-size: 1em;
      }
      @media (max-width: 1200px) {
        font-size: 0.8em;
      }
    }
    .current-tab a{
      color: #13AA57;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::after{
        content: "";
        height: 6px;
        width: 6px;
        background-color: #13AA57;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}

.header-information .header-content{
  margin-left: 255px;
  margin-top: 233px;
  max-width: 470px;
  @media (max-width: 1500px) {
    margin-left: 10em;
    margin-top: 5em;
  }
  @media (max-width: 1300px) {
    margin: 4em 1em 0 4em;
    max-width: inherit;
  }
  @media (max-width: 968px) {
    margin: 2em 1em 0 2em;
  }
  @media (max-width: 768px) {
    margin: 4em 1em 2em 2em;
  }
  @media (max-width: 425px) {
    margin: 1em;
  }

  &-title{
    font-family: 'Chivo-Bold';
    font-size: 46px;
    line-height: 64px;
    margin-bottom: 26px;
    @media (max-width: 1440px) {
      font-size: 2.5em;
    }
    @media (max-width: 1300px) {
      font-size: 2em;
    }
    @media (max-width: 1200px) {
      line-height: 40px;
      font-size: 1.6em;
    }
    @media (max-width: 1024px) {
      font-size: 1.4em;
      line-height: 20px;
      margin-bottom: 15px;

    }
    @media (max-width: 425px) {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    @media (max-width: 375px) {
      line-height: 30px;
    }
  }
  &-description{
    font-family: 'Chivo-Regular';
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 58px;
    color: #263238;
    @media (max-width: 1440px) {
      font-size: 1.5em;
    }
    @media (max-width: 1300px) {
      margin-bottom: 40px;
    }
    @media (max-width: 1200px) {
      font-size: 1.3em;
    }
    @media (max-width: 1024px) {
      font-size: 0.9em;
      margin-bottom: 20px;
    }
    @media (max-width: 425px) {
      font-size: 1em;
      margin-bottom: 40px;
    }
    @media (max-width: 375px) {
      margin-bottom: 20px;
    }
  }
  &-btn{
    width: 240px; // max-width
    height: 80px; // max-height
    box-shadow: 0 21.6667px 33.3333px rgba(19, 170, 87, 0.3);
    background-color: #13AA57;
    color: white;
    border-radius: inherit;
    text-transform: none;
    font-family: 'Chivo-Regular';
    font-size: 30px;
    line-height: 53px;
    margin-right: 38px;
    @media (max-width: 1440px) {
      font-size: 1.5em;
      width: 45%;
    }
    @media (max-width: 1300px) {
      width: 35%;
    }
    @media (max-width: 1200px) {
      font-size: 1em;
      height: initial;
    }
    @media (max-width: 1024px) {
      height: auto;
      line-height: 30px;
    }
    @media (max-width: 768px) {
      width: 30%;
    }
    @media (max-width: 600px) {
      width: 40%;
    }
    @media (max-width: 375px) {
      width: 100%;
      margin-bottom: 30px;
    }
    &:hover{
      color: black;
    }
  }
  &-icons{
    display: flex;
    justify-content: space-between;
  }
}
.wrapper-btn-socialNetwork{
  display: flex;
  align-items: center;
  @media (max-width: 375px) {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
.header-slider{
  .carousel-item.active{
    opacity: 1 !important;
    transition: 1s !important;

    transform: initial !important;
  }
  .carousel-item{
    opacity: 0 !important;
    transition: 1s !important;

    transform: initial !important;
  }
}
