.footer{
  background-color: #212121;
  padding: 63px 161px 25px;
  @media (max-width: 1200px) {
    padding: 63px 50px 25px;
  }
  @media (max-width: 768px) {
    padding: 50px 25px 25px;
  }
  @media (max-width: 500px) {
    padding: 50px 15px 25px;
  }
  &-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
    &-logo{
      @media (max-width: 425px) {
        width: 30%;
      }
      &-image{
        @media (max-width: 425px) {
          width: 100%;
        }
      }
    }
    &-list{
      opacity: 0.4;
      display: flex;
      justify-content: space-between;
      width: 37.5%;
      @media (max-width: 1500px) {
        width: 50%;
      }
      @media (max-width: 1024px) {
        width: 65%;
      }
      @media (max-width: 660px) {
        width: 75%;
      }
      @media (max-width: 550px) {
        margin-left: 10px;
        flex-wrap: wrap;
      }
    }
    &-tab a{
      text-decoration: none;
      font-family: 'Chivo-Regular',sans-serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      cursor: pointer;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      @media (max-width: 425px) {
        font-size: 12px;
      }
    }
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-description{
      font-family: 'Chivo-Regular',sans-serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      opacity: 0.3;
      @media (max-width: 425px) {
        font-size: 12px;
      }
    }
    &-socialNetwork{
      display: flex;
      justify-content: space-between;
    }
  }
}