.footer{
  background-color: #212121;
  padding: 63px 161px 25px;
  &-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
    &-logo{

    }
    &-list{
      opacity: 0.4;
      display: flex;
      justify-content: space-between;
      width: 37.5%;
      @media (max-width: 1500px) {
        width: 50%;
      }
    }
    &-tab{
      font-family: 'Chivo-Regular',sans-serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-description{
      font-family: 'Chivo-Regular',sans-serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      opacity: 0.3;
    }
    &-socialNetwork{
      display: flex;
      justify-content: space-between;
    }
  }
}